.recipeDemoIframe {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--forge-theme-border);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.recipeContainer {
  height: 100%;
  width: 100%;
  padding: 45% auto auto auto;
  border-width: 2px;
  border-style: dashed;
  border-radius: 4px;
  border-color: var(--forge-theme-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.demoContainer {
  height: 600px;
  width: calc(100% - 8px);
}

.componentList {
  margin: 16px 0;
}

.componentList a {
  text-transform: capitalize;
}
