.illustrationGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: calc(100% - 2px);
  margin-bottom: 1px;
}

.illustrationGridHeader {
  margin-top: 48px;
}

.loading {
  padding: 16px;
}

.illustrationContainer {
  background-color: var(--forge-theme-surface);
  outline: 1px solid var(--forge-theme-border);
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 150px;
}

.illustrationLabel {
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--forge-theme-text-secondary);
  font-size: 12px;
  max-width: 150px;
}

.illustration {
  height: 100%;
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration > svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
}

.buttonContainer {
  padding-top: 16px;
}

.illustrationActions {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 8px;
  display: flex;
  gap: 8px;
}

.illustrationActions > button > svg {
  fill: var(--forge-theme-text-secondary);
  transition: fill linear 300ms;
  opacity: 0.5;
  width: 20px;
  height: 20px;
}

.illustrationActions > button > svg:hover {
  fill: var(--forge-theme-text-primary);
  opacity: 1;
}

.illustrationContainer:hover .illustrationActions {
  visibility: visible;
}
