.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  width: calc(100% - 2px);
  margin-block: 24px;
}

.loading {
  padding: 16px;
}

.iconContainer {
  background-color: var(--forge-theme-surface);
  outline: 1px solid var(--forge-theme-border);
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: none;
}

.iconContainer:hover {
  cursor: pointer;
}

.iconLabel {
  margin-block-start: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--forge-theme-text-secondary);
  font-size: 12px;
  max-width: 150px;
}

.icon {
  color: var(--forge-theme-text-primary);
  font-size: 32px;
}

.icon > svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
}

.buttonContainer {
  padding-top: 16px;
}

.dialog {
  --dialog-gap: 24px;
  --ifm-pre-padding: 8px;

  background-color: var(--forge-theme-surface);
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  position: relative;
  max-width: 768px;
}

.dialog::backdrop {
  background: hsl(0 0% 0% / 50%);
}

.dialogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-inline: 16px;
  border-bottom: 1px solid var(--forge-theme-border);
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.closeButton {
  fill: currentColor;
  height: 28px;
  width: 28px;
  margin-inline-end: 4px;
}

.dialogTitle {
  margin: 0 !important;
}

.dialogContainer {
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 24px;
  padding: 16px;
}

.dialogIcon {
  background: repeating-conic-gradient(var(--forge-theme-surface-container-minimum) 0% 25%, transparent 0% 50%) 50% / 20px 20px;
  fill: var(--forge-theme-text-primary);
  display: flex;
  align-items: center;
  height: fit-content;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--dialog-gap);
  min-width: 0;
}

.codeBlockContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--dialog-gap);
  overflow: auto;
}

.copyButton {
  fill: var(--forge-theme-text-secondary);
  height: 24px;
  width: 24px;
  display: flex;
  place-items: center;
}

.codeBlock {
  width: 100%;
  margin-bottom: 0;
  min-width: 0;
}
