.bg {
  background-color: #e8eaf6;
}

dialog {
 padding: 0;
}

.surveyDialog[open] {
 display: relative;
 color: var(--ifm-heading-color);
 border-radius: 24px;
 border: 0;
 background-color: #fff;
 width: 40vw;
 height: min-content;
 display: grid;
 grid-template-columns: 4fr 8fr;
}

.surveyDialogCloseButton {
 position: absolute;
 top: 16px;
 right: 16px;
 height: 48px;
 width: 48px;
 z-index: 20;
 border-radius: 100%;
 background-color: transparent;
 color: var(--ifm-heading-color);
 font-weight: 500;
 font-size: 32px;
 border: none;
 box-sizing: border-box;
 display: grid;
 place-content: center;
}

.surveyDialogCloseButton:hover {
  background-color: var(--forge-theme-background);
  cursor: pointer;
  border: 2px solid black;
}

.surveyDialogLeftColumn {
  display: grid;
  grid-template-rows: 1fr;
  place-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("https://cdn-new.forge.tylertech.com/v1/images/spot-hero/feedback-spot-hero.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--forge-theme-background);
}

.surveyDialogRightColumn {
  background-color: var(--forge-theme-surface);
  display: grid;
  grid-template-rows: 1fr auto;
  height:100%;
  place-content: center;
}

.surveyDialogRightColumnInfo {
 padding: 56px;
}

.fs16 {
 font-size: 16px;
}

.surveyButton {
 justify-content: center;
}

.formContainer {
 display: grid;
 gap: 8px;
}

.checkbox {
 display: flex;
 align-items: center;
 justify-content: end;
 gap: 8px;
 padding-inline: 56px;
 margin-block-end: 24px;
}

.checkbox input {
 height: 20px;
 width: 20px;
}

.surveyDialog::backdrop {
 background: rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1920px) {
 .surveyDialog[open] {
  width: 40vw;
  background: white;
 }
}

@media screen and (max-width: 1600px) {
 .surveyDialog[open] {
  width: 60vw;
  background: white;
 }
 
 .surveyDialogRightColumn {
  padding: 16px;
 }
}

@media screen and (max-width: 960px) {
 .surveyDialog[open]  {
  width: 90vw;
 }
}

@media screen and (max-width: 700px) {
 .surveyDialog[open]  {
  width: 90vw;
  grid-template-columns: 1fr;
 }

 .surveyDialogLeftColumn {
  display: none;
 }

 .surveyDialogRightColumnInfo {
  padding: 24px;
 }

 .checkbox {
  padding: 0;  
  margin-block-end: 0;
  justify-content: center;
 }
}

.gridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 275px));
  gap: 24px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("/img/forge-home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quickLinksContainer {
  padding: 2rem 0;
}

.quickLinkGridItem {
  display: grid;
  gap: 24px;
}

.quickLinkCard {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.quickLinkCard i {
  color: var(--forge-theme-text-secondary);
}

.quickLinkCard:hover {
  outline: 1px solid var(--ifm-color-primary);
}

.quickLinkCard h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.quickLinkAnchor {
  color: unset;
}
.quickLinkAnchor:hover {
  color: unset;
  text-decoration: none;
}

.heroCard {
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.925);
}

.heroCardInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  height: 100%;
}

.heroCard h2 {
  font-size: 1rem;
  text-align: left;
  margin: 0;
}

.contributionCard img,
.heroCard img {
  height: 75px;
}

.contributionCard p,
.heroCard p {
  font-size: 0.875rem;
  margin: 0;
  flex: 1;
}

.linkButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.linkButton > svg {
  height: 16px;
  width: 16px;
  fill: #ffffff;
}

.contributionCategories {
  text-align: center;
  padding: 0 16px 48px;
}

.contributionCategoriesContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.contributionCard {
  width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.contributionCard h2 {
  align-self: start;
  margin: 0;
  font-size: 1rem;
  margin: 0;
}

[data-theme='dark'] .bg {
  background-color: #424242;
}

[data-theme='dark'] .heroCard {
  background-color: rgba(0, 0, 0, 0.9);
}

[data-theme='dark'] .linkButton > svg {
  fill: #000000;
}

@media screen and (max-width: 1186px) {
  .heroBanner {
    padding: 1rem;
  }

  .gridContainer > div:first-child {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 952px) {
  .heroBanner {
    background-image: none;
  }

  .quickLinksContainer {
    padding: 1rem;
  }
}

@media screen and (max-width: 662px) {
  .contributionCard {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .gridContainer {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
