.container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  }
  
  .container h3 {
    --ifm-h3-font-size: 1.5rem;
    margin: 0;
  }
  
  .icon {
    height: 24px;
    width: 24px;
  }
  
  .icon svg {
    fill: var(--ifm-color-content);
  }